## *Lab 1 - Simple Computing : String Manipulation & Fibonacci*
*In this exercise, simple python exercises and functions were taught and programmed.*

*Methods Discussed in String Manipulation:*
*   *.lower()*
*   *.replace()*
*   *.count()*
*  *.find()*
*   *.split()*
*   *.list()*
*   *.join()*

In [ ]:
'''
Author: Vardhini K
Date  : 02 Aug 2023
Time  : 06:00 PM
Method: lower() : changes the char from upper to lower case
'''
#A DNA sequence is assigned as a string
dna_seq = 'ATGCAGCAGTCTG'
dna_seq_lower = dna_seq.lower()
print(dna_seq_lower)

atgcagcagtctg

In [ ]:
'''
Method: replace() : replaces a given char in the place of other char
'''
#RNA sequence contains U instead of T in a DNA sequence
m_rna_seq = dna_seq.replace('T', 'U')
print(m_rna_seq)

AUGCAGCAGUCUG

In [ ]:
'''
Method: count() : counts the no. of times a char has occured
'''
#Counting number of a particular base pair in a DNA sequence
g_count = dna_seq.count('G')
c_count = dna_seq.count('C')

#Calculating GC Content
gc_count = (g_count + c_count)/len(dna_seq)*100 #len() : length of the string
print(gc_count)

53.84615384615385

In [ ]:
'''
Method: find() : finds the postion of sub-string within a string
                 -1 indicates sub-string not found
'''
#finding the position of bp CAG in the DNA sequence
dna_seq.find('CAG')

3

In [ ]:
'''
Method: split() : splits the string into parts by a symbol
'''
#split fuction, reproduces a list
'The basic unit of DNA is a nucleotide'.split()

['The', 'basic', 'unit', 'of', 'DNA', 'is', 'a', 'nucleotide']

In [ ]:
'''
Method: list() : converts a string to list
'''
#Creating a list of individual bps in a DNA sequence
list_seq = list(dna_seq)
print(list_seq)

['A', 'T', 'G', 'C', 'A', 'G', 'C', 'A', 'G', 'T', 'C', 'T', 'G']

In [ ]:
'''
Method: join() : joins the list by a symbol
'''
#Joining the individual bps together
''.join(list_seq)

'ATGCAGCAGTCTG'

*Fibonacci Series : A series of numbers in which each number is the sum of the two preceding numbers.*

*Exercises using fibonacci series :*

*   *Fibonacci of first 4 numbers*
*   *Fibonacci upto a given number or upto 10 values*
*   *Fibonacci series with user input*

In [ ]:
'''
Author: Vardhini K
Date  : 02 Aug 2023
Time  : 08:00 PM
A Program to print the first four fibonacci numbers
'''
first, second = 0, 1
first, second = second, first + second #counts 3rd number
first, second = second, first + second #counts 4th number

print('0', '1', first, second, sep=', ')

0, 1, 1, 2

In [ ]:
'''
A Program to print the fibonacci series upto a given number or upto 10 values
'''
fib_seq = [0, 1]

#Request user for a value
user_input = int(input('Enter a number: '))

#Loop until we have 10 numbers in the fibonacci series
while len(fib_seq) < 10:
  #Calculate the next fibonacci numbers
  next_fib = fib_seq[-1] + fib_seq[-2]

  #condition to check for user input value
  #add next_fib to fib_seq only when it is less than or equal to user input value
  if next_fib <= user_input:
    fib_seq.append(next_fib)
  else:
    break

#print the fibonacci sequence
print('The Fibonacci sequence upto a given number or upto 10 values is :',fib_seq)

Enter a number: 100
The Fibonacci sequence upto a given number or upto 10 values is : [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
'''
A Program to print the fibonacci series by getting user values upto 10 values
'''
#Request user for two numbers to begin with
first_no = int(input('Enter your first number : '))
second_no = int(input('Enter your second number : '))

#Start with first two no.s given by user
fib_seq = [first_no, second_no]

#Loop until we have 10 numbers in the fibonacci series
while len(fib_seq) < 10 :
  #Calculate the next fibonacci numbers
  next_fib = fib_seq[-1] + fib_seq[-2]
  #add no to the sequence
  fib_seq.append(next_fib)

#print the fibonacci sequence
print('The Fibonacci sequence upto 10 values is :',fib_seq)

Enter your first number : 1
Enter your second number : 2
The Fibonacci sequence upto 10 values is : [1, 2, 3, 5, 8, 13, 21, 34, 55, 89]